.center {
    text-align: center;
}

#message {
    font-size: 2em;
    font-family: coca_cola_ii_regular;
    color: red;
}

body {
    background: black;

}

.olympic-torch {
    width: 100%;
    height: auto;
}